-
    //-index・・・トップページ
    var index_title="bpriver"
    var index_url="index.pug"
    var index_firstword="次の未来をデザインする"

    //-sdoc・・・software-development-online-community
    var sdoc_title = "Software Development Online Community @" + index_title
    var sdoc_url = "sdoc.pug"
    var sdoc_pagename = "ソフトウェア開発オンラインコミュニティ（仮）"
    var sdoc_firstword="今はまだボリュームが少ないですが、毎日少しづつ追加していってます"
    var sdoc_logictree_url="astah/index.html"
    var sdoc_logictree_name="IT分野の全体を把握するためのツリー図"
    var sdoc_tutorial_url="sdoc_tutorial.pug"
    var sdoc_tutorial_name="初学者向けプログラミングチュートリアル"

    //-dummy
    var dummy_title = "Dummy Page"
    var dummy_url = "dummy.pug"
    var dummy_projectname = "dummyプロジェクト"

    //-topmenu
    var index_topmenu=[
        {   
            url:sdoc_url,
            name:sdoc_pagename,
        },
    ]
    var sdoc_topmenu=[
        {
            url:sdoc_logictree_url,
            name:sdoc_logictree_name,
        },
        {
            url:sdoc_tutorial_url,
            name:sdoc_tutorial_name,
        },
    ]

//-※各ファイルではblock appendで定義すること。blockだけだどundifindになる。
block variable 
    -   
        var title=""
        var firstword=""
        var topmenu=""
        

doctype html
html(lang="ja")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900" rel="stylesheet")
        link(rel="stylesheet",href="index.styl")
    body
        header
            nav.breadcrumb
                a.logo-bpriver(href=index_url)
                block Breadcrumb         
        main
            block Main
                .topmenu
                    .firstword #{firstword}
                    each i in topmenu
                        a(href=i.url) #{i.name}
        block Script