extends _template.pug
block append variable
    -
        title=sdoc_title
        firstword=sdoc_firstword
        topmenu=sdoc_topmenu

block append Breadcrumb
    a.text(href=sdoc_url) #{sdoc_pagename} 

block append Main
    h3 #{sdoc_pagename}について
    p ソフトウェアの開発（オープンソース）、上級エンジニアの輩出を目的としたオープンなコミュニティにする予定です。現在、初学者向けの資料公開（上記リンク）だけ行っています。メンバー募集はまだです。一千万里の道も一歩から。
        a(href="https://twitter.com/bpriver_com") 運営者Twiiterアカウント
    h3 #{sdoc_logictree_name} の見方
    img(src="マニュアル_astahのhtmlドキュメントの見方_1.jpg")
    img(src="マニュアル_astahのhtmlドキュメントの見方_2.jpg")
    img(src="マニュアル_astahのhtmlドキュメントの見方_3.jpg")
    img(src="マニュアル_astahのhtmlドキュメントの見方_4.jpg")