extends sdoc.pug
block append variable
    -
        title=sdoc_title
        firstword=sdoc_tutorial_firstword
        topmenu=sdoc_tutorial_topmenu
block append Breadcrumb
    a.text(href=sdoc_tutorial_url) #{sdoc_tutorial_name} 

block Main
    section
        h3 はじめに
        p 初学者用のプログラミングのテキストの多くは、プログラミングの基礎概念は理解した前提での説明が多いように思う。つまり、他の何かしらの言語は習得積みで、この言語は初じめてだ、という初心者向けである。あくまでのその言語の初心者であって、プログラミングの初心者向けではない、ということである。プログラミングをかじっているものなら常識的に知っている基礎中の基礎の概念を説明してくれているテキストに対しては、親切だなと感じてしまう、というのが現在のプログラミングの学習環境のレベルである。独学可能であると、さんざ言われるが、０からの出発は本当に骨の折れる作業だ。けれども、一度ある程度の基礎概念さえ理解しさえすれば、ネットや参考書で書かれている内容も読めるようになり、スムーズに独学ができるようになるのである。この#{sdoc_tutorial_name} では、基礎概念の説明を中心とし、プログラミング初学者がスムーズなスタートダッシュを切れるようにすることが目的だ。
    section
        h3 どの言語を初めに勉強すべきか？
        p そのまえにまず、プログラミング言語は、宗教論争が絶えないこと、消耗品であることについて話しておきたい。この議題で、複数のプログラミング経験者で話し合ったところで、おそらく永遠に一つの答えにまとまることは無いだろう。プログラミング界隈では、自分の使っている言語が一番だ！という宗教論争が絶えないのだ。けれども、所詮、どのように優れたプログラミング言語も何かを作り出すためのツールに過ぎない。それぞれ言語ごとに得意不得意がある。大切なことは、適したプログラミング言語を選択することだ。さらには、プログラミング言語は一生使えるような代物ではなく、寿命が存在する。時代の進化とともに、さらに高性能な、改善が施された新たなプログラミング言語が生まれてくるからだ。１つのプログラミング言語に固執したところでメリットは無い。今使っているものより優れたものが出現したのならさっさと、鞍替えした方が良い。プログラミング言語もある程度寿命は長いものの、使い捨ての道具の1つなのだ。少し大げさかもしれないが、いまだに「windows xp」を使うような人や会社があると聞くが、馬鹿としか言いようがない。時代遅れとなってしまった技術に固執することは、セキュリテイや利便性の面からみてもいいことは何一つないのだ。
    section
        h3 Bashを覚えよう
        p 初学者はどの言語を初めに覚えるべきか？私がたどり着いた答えがBashだ。何かプログラミング言語を使って、アプリケーションを開発しようとした時にはもちろん、プログラミング言語以外の知識が必要になってくる。プログラミング言語なんてのは全体のほんの一部に過ぎない。1か月程度で、プログラミング言語の使い方を覚えたところで、実務に参加するなど、ほぼ不可能だと思って相違ない。逆にそのようなことを謳っているスクールや会社は怪しさ満点なので、健全な職場にありつけるなど夢にも思ってはいけない。OS、ネットワーク、通信、セキュリティ、データベースなど、把握しておかないといけないことがたくさんあるのだ。とりわけBashはこの中のOSと深く関わりのある言語である。どのようなサーバーコンピューターやパソコンであっても、コンピュータが動作するのに欠かせないソフトウェアがOSなのだ。この点も、初学者にBashが良い理由である。まとめてみると、
        ul
            li OSの役割を覚えるのにちょうどいい
            li CUIの操作に慣れるのにちょうどいい
            li OSである、Linux、Macに初めから付属されている（windowsはGit Bushをインストールすれば利用可能）・・・準備が簡単
            li スクリプト言語である ・・・ スクリプト言語は手軽に利用できるので初学者向きである、というのが一般的な見解である。
            li 多くの開発者が普段使いで利用する言語である（普段の作業の自動化にも利用される）・・・　ファイルの作成、コピー、削除、フォルダの作成、移動...etc
            li 言語としての寿命が長い・・・Bashの役割上、代替え言語や上位互換の言語があらわれにくい。
            li Web業界、SIer業界、個人開発、どのような業界でも利用されている・・・webサービスのサーバーコンピューターに搭載するOSとしてLinuxが広く普及していること、webアプリの開発用のパソコンとしてMacが広く普及していることがあげられる。
            li 昔からある言語で、決して書きやすくはないが、基礎概念を理解する上では有意に働くと思う。
        p などがある。まあ覚えるといっても、深くまでは掘り下げない。私人身、Bashに精通しているわけではないし、現時点で初学者の人が、深く勉強する必要もない。利用頻度の高い操作のみ覚えれば充分だ。また、言語自体は古いので、複雑な処理を記述しにくく、途端にハードルが高くなってしまう。
        